<header>
    <ul>
        <li><img class="logo" src="../../static/images/logo.png"></li>
        <li><a href="/">Browse</a></li>
        <li><a href="/cube/create">Create Cube</a></li>
        <li><a href="/accessory/create">Create Accessory</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/user/logout">Logout</a></li>
        <li><a href="/user/login">Login</a></li>
        <li><a href="/user/register">Register</a></li>
    </ul>
</header>